<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">New Password Requested</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Olá <b><span th:text="${user.name}"></span><b>. 
		</h1>
		
		<p>
			Você acaba de solicitar uma nova senha para a sua conta no MangasBr.
		</p>
		
		<p>
			Sua nova senha é: <b><span th:text="${senha}"></span><b>
		</p>
		
		<p>
			Lembre-se de trocá-la após o próximo login.
		</p>
		
	</div>

</body>
</html> 